<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

    <extension point="org.knime.workbench.repository.categories">
   		<category description="Nodes written by http://www.acpfg.com.au"
   		          icon="icons/default.png"
   		          level-id="IO"
   		          name="IO"
   		          path="/ACPFG" />
   </extension>
   
   <extension
         point="org.knime.workbench.repository.nodes">
      <node
            category-path="/ACPFG"
            factory-class="au.com.acpfg.phylogeny.PhylogenyProcessorNodeFactory"
            id="au.com.acpfg.phylogeny.PhylogenyProcessorNodeFactory"/>
   </extension>
   
</plugin>
