<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension point="org.knime.workbench.repository.categories">
   		<category description="Nodes written by http://www.acpfg.com.au"
   		          icon="icons/default.png"
   		          level-id="Web Services"
   		          name="Web Services"
   		          path="/ACPFG" />
   </extension>
      
   
   <extension
         point="org.knime.workbench.repository.nodes">
      <node
            category-path="/ACPFG/Web Services"
            factory-class="au.com.acpfg.pfa.interproscan.InterProScanNodeFactory"
            id="au.com.acpfg.pfa.InterProScanNodeFactory"/>
   </extension>
   
</plugin>
